@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(45deg, #434343 0%, #252525 100%);
  background-repeat: no-repeat;
}

html,
body {
  width: 100%;
  height: 100%;
}

#root {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 600;
}

.switch-wrapper {
  position: relative;
}

.switch-wrapper>div {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  height: 100vh;
}